In [1]:
# import libraries
import pandas as pd
import numpy as np

# Proble Statement
The objective of this project is to analyze operational service case data to evaluate process efficiency, 
SLA compliance, agent performance, and customer satisfaction. The analysis aims to identify delay patterns, 
SLA breach drivers, high-performing and low-performing departments/agents, and workload distribution across regions and channels, 
in order to provide data-driven recommendations to improve service efficiency and customer experience.

In [2]:
df = pd.read_csv ("exl_operations_cases_30k.csv")
df

,Case_ID,Department,Region,Priority,Channel,Customer_Type,Created_Date,Closed_Date,SLA_Days,Resolution_Hours,Status,SLA_Breach,Agent_ID,Reopen_Flag,Customer_Rating
0,CASE-100000,Customer Support,North,High,Portal,Retail,2023-04-13,2023-04-14 00:00:00,3,24,Closed,0.0,AGT-183,0,4.0
1,CASE-100001,Customer Support,North,High,Portal,Retail,2024-03-11,2024-03-12 16:00:00,3,40,Closed,0.0,AGT-141,0,5.0
2,CASE-100002,Onboarding,South,Medium,Chat,Retail,2023-09-28,2023-09-30 07:00:00,5,55,Closed,0.0,AGT-163,0,4.0
3,CASE-100003,Onboarding,East,Medium,Email,Retail,2023-04-17,2023-04-20 00:00:00,7,72,Closed,0.0,AGT-229,0,4.0
4,CASE-100004,Claims Processing,East,High,Chat,Retail,2023-03-13,2023-03-16 00:00:00,7,72,Closed,0.0,AGT-217,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,CASE-129995,Customer Support,East,Low,Portal,Corporate,2024-10-05,2024-10-09 16:00:00,10,112,Closed,0.0,AGT-195,0,3.0
29996,CASE-129996,Onboarding,West,Medium,Email,SME,2024-04-16,NaN,15,36,In Progress,NaN,AGT-167,0,NaN
29997,CASE-129997,Onboarding,East,High,Chat,Retail,2024-10-07,2024-10-08 06:00:00,5,30,Closed,0.0,AGT-269,0,3.0
29998,CASE-129998,Billing,Central,Medium,Chat,Corporate,2023-06-28,2023-06-29 02:00:00,3,26,Closed,0.0,AGT-190,0,1.0
29999,CASE-129999,Customer Support,Central,Low,Portal,Retail,2024-11-28,2024-11-30 08:00:00,7,56,Closed,0.0,AGT-233,1,4.0

# Data Cleaning and Understanding

In [4]:
df.isnull().sum()

Case_ID                0
Department             0
Region                 0
Priority               0
Channel                0
Customer_Type          0
Created_Date           0
Closed_Date         5319
SLA_Days               0
Resolution_Hours       0
Status                 0
SLA_Breach          5319
Agent_ID               0
Reopen_Flag            0
Customer_Rating     5319
dtype: int64

In [5]:
df.dtypes

Case_ID              object
Department           object
Region               object
Priority             object
Channel              object
Customer_Type        object
Created_Date         object
Closed_Date          object
SLA_Days              int64
Resolution_Hours      int64
Status               object
SLA_Breach          float64
Agent_ID             object
Reopen_Flag           int64
Customer_Rating     float64
dtype: object

In [6]:
df["Closed_Date"].head()

0    2023-04-14 00:00:00
1    2024-03-12 16:00:00
2    2023-09-30 07:00:00
3    2023-04-20 00:00:00
4    2023-03-16 00:00:00
Name: Closed_Date, dtype: object

In [7]:
# Handling date by converting it into proper date format
df['Closed_Date'] = pd.to_datetime(df['Closed_Date'], errors='coerce')
df['Created_Date'] = pd.to_datetime(df['Created_Date'], errors='coerce')

In [8]:
df.head()

,Case_ID,Department,Region,Priority,Channel,Customer_Type,Created_Date,Closed_Date,SLA_Days,Resolution_Hours,Status,SLA_Breach,Agent_ID,Reopen_Flag,Customer_Rating
0,CASE-100000,Customer Support,North,High,Portal,Retail,2023-04-13,2023-04-14 00:00:00,3,24,Closed,0.0,AGT-183,0,4.0
1,CASE-100001,Customer Support,North,High,Portal,Retail,2024-03-11,2024-03-12 16:00:00,3,40,Closed,0.0,AGT-141,0,5.0
2,CASE-100002,Onboarding,South,Medium,Chat,Retail,2023-09-28,2023-09-30 07:00:00,5,55,Closed,0.0,AGT-163,0,4.0
3,CASE-100003,Onboarding,East,Medium,Email,Retail,2023-04-17,2023-04-20 00:00:00,7,72,Closed,0.0,AGT-229,0,4.0
4,CASE-100004,Claims Processing,East,High,Chat,Retail,2023-03-13,2023-03-16 00:00:00,7,72,Closed,0.0,AGT-217,1,5.0

In [9]:
df.isnull().sum()

Case_ID                0
Department             0
Region                 0
Priority               0
Channel                0
Customer_Type          0
Created_Date           0
Closed_Date         5319
SLA_Days               0
Resolution_Hours       0
Status                 0
SLA_Breach          5319
Agent_ID               0
Reopen_Flag            0
Customer_Rating     5319
dtype: int64

In [10]:
df.duplicated().sum()

0

In [11]:
# Creating resolution to know the date difference 
df['Resolution_Days'] = (df['Closed_Date'] - df['Created_Date']).dt.days

In [12]:
df.head()

,Case_ID,Department,Region,Priority,Channel,Customer_Type,Created_Date,Closed_Date,SLA_Days,Resolution_Hours,Status,SLA_Breach,Agent_ID,Reopen_Flag,Customer_Rating,Resolution_Days
0,CASE-100000,Customer Support,North,High,Portal,Retail,2023-04-13,2023-04-14 00:00:00,3,24,Closed,0.0,AGT-183,0,4.0,1.0
1,CASE-100001,Customer Support,North,High,Portal,Retail,2024-03-11,2024-03-12 16:00:00,3,40,Closed,0.0,AGT-141,0,5.0,1.0
2,CASE-100002,Onboarding,South,Medium,Chat,Retail,2023-09-28,2023-09-30 07:00:00,5,55,Closed,0.0,AGT-163,0,4.0,2.0
3,CASE-100003,Onboarding,East,Medium,Email,Retail,2023-04-17,2023-04-20 00:00:00,7,72,Closed,0.0,AGT-229,0,4.0,3.0
4,CASE-100004,Claims Processing,East,High,Chat,Retail,2023-03-13,2023-03-16 00:00:00,7,72,Closed,0.0,AGT-217,1,5.0,3.0

In [13]:
df.head()

,Case_ID,Department,Region,Priority,Channel,Customer_Type,Created_Date,Closed_Date,SLA_Days,Resolution_Hours,Status,SLA_Breach,Agent_ID,Reopen_Flag,Customer_Rating,Resolution_Days
0,CASE-100000,Customer Support,North,High,Portal,Retail,2023-04-13,2023-04-14 00:00:00,3,24,Closed,0.0,AGT-183,0,4.0,1.0
1,CASE-100001,Customer Support,North,High,Portal,Retail,2024-03-11,2024-03-12 16:00:00,3,40,Closed,0.0,AGT-141,0,5.0,1.0
2,CASE-100002,Onboarding,South,Medium,Chat,Retail,2023-09-28,2023-09-30 07:00:00,5,55,Closed,0.0,AGT-163,0,4.0,2.0
3,CASE-100003,Onboarding,East,Medium,Email,Retail,2023-04-17,2023-04-20 00:00:00,7,72,Closed,0.0,AGT-229,0,4.0,3.0
4,CASE-100004,Claims Processing,East,High,Chat,Retail,2023-03-13,2023-03-16 00:00:00,7,72,Closed,0.0,AGT-217,1,5.0,3.0

In [14]:
df['Resolution_Days'].describe()

count    24681.000000
mean         1.541753
std          1.256800
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          9.000000
Name: Resolution_Days, dtype: float64

In [15]:
df[df['Resolution_Days'] < 0]

Empty DataFrame
Columns: [Case_ID, Department, Region, Priority, Channel, Customer_Type, Created_Date, Closed_Date, SLA_Days, Resolution_Hours, Status, SLA_Breach, Agent_ID, Reopen_Flag, Customer_Rating, Resolution_Days]
Index: []

In [16]:
cat_cols = df.select_dtypes(include='object').columns
cat_cols = cat_cols.drop(['Case_ID'])  # exclude both

for col in cat_cols:
    print(f"\nValue counts for {col}:")
    print(30*"-")
    print(df[col].value_counts())

Value counts for Department:
------------------------------
Department
Customer Support     6074
Claims Processing    6042
Billing              6012
Policy Update        5940
Onboarding           5932
Name: count, dtype: int64

Value counts for Region:
------------------------------
Region
South      6094
West       6032
Central    6006
East       5964
North      5904
Name: count, dtype: int64

Value counts for Priority:
------------------------------
Priority
Medium      11941
Low         10644
High         5926
Critical     1489
Name: count, dtype: int64

Value counts for Channel:
------------------------------
Channel
Email     7598
Portal    7511
Chat      7447
Phone     7444
Name: count, dtype: int64

Value counts for Customer_Type:
------------------------------
Customer_Type
Retail       17995
SME           7467
Corporate     4538
Name: count, dtype: int64

Value counts for Status:
------------------------------
Status
Closed              24681
In Progress          2697
Pending Customer     1524
Escalated             829
Cancelled             269
Name: count, dtype: int64

Value counts for Agent_ID:
------------------------------
Agent_ID
AGT-144    184
AGT-236    180
AGT-174    177
AGT-105    174
AGT-244    174
          ...
AGT-215    125
AGT-239    125
AGT-103    121
AGT-161    119
AGT-220    119
Name: count, Length: 200, dtype: int64

In [17]:
df.head()

,Case_ID,Department,Region,Priority,Channel,Customer_Type,Created_Date,Closed_Date,SLA_Days,Resolution_Hours,Status,SLA_Breach,Agent_ID,Reopen_Flag,Customer_Rating,Resolution_Days
0,CASE-100000,Customer Support,North,High,Portal,Retail,2023-04-13,2023-04-14 00:00:00,3,24,Closed,0.0,AGT-183,0,4.0,1.0
1,CASE-100001,Customer Support,North,High,Portal,Retail,2024-03-11,2024-03-12 16:00:00,3,40,Closed,0.0,AGT-141,0,5.0,1.0
2,CASE-100002,Onboarding,South,Medium,Chat,Retail,2023-09-28,2023-09-30 07:00:00,5,55,Closed,0.0,AGT-163,0,4.0,2.0
3,CASE-100003,Onboarding,East,Medium,Email,Retail,2023-04-17,2023-04-20 00:00:00,7,72,Closed,0.0,AGT-229,0,4.0,3.0
4,CASE-100004,Claims Processing,East,High,Chat,Retail,2023-03-13,2023-03-16 00:00:00,7,72,Closed,0.0,AGT-217,1,5.0,3.0

In [18]:
df.shape

(30000, 16)

In [19]:
df.isna().sum()

Case_ID                0
Department             0
Region                 0
Priority               0
Channel                0
Customer_Type          0
Created_Date           0
Closed_Date         5319
SLA_Days               0
Resolution_Hours       0
Status                 0
SLA_Breach          5319
Agent_ID               0
Reopen_Flag            0
Customer_Rating     5319
Resolution_Days     5319
dtype: int64

In [20]:
df['Closed_Date'] = df['Closed_Date'].dt.date

In [21]:
df.head()

,Case_ID,Department,Region,Priority,Channel,Customer_Type,Created_Date,Closed_Date,SLA_Days,Resolution_Hours,Status,SLA_Breach,Agent_ID,Reopen_Flag,Customer_Rating,Resolution_Days
0,CASE-100000,Customer Support,North,High,Portal,Retail,2023-04-13,2023-04-14,3,24,Closed,0.0,AGT-183,0,4.0,1.0
1,CASE-100001,Customer Support,North,High,Portal,Retail,2024-03-11,2024-03-12,3,40,Closed,0.0,AGT-141,0,5.0,1.0
2,CASE-100002,Onboarding,South,Medium,Chat,Retail,2023-09-28,2023-09-30,5,55,Closed,0.0,AGT-163,0,4.0,2.0
3,CASE-100003,Onboarding,East,Medium,Email,Retail,2023-04-17,2023-04-20,7,72,Closed,0.0,AGT-229,0,4.0,3.0
4,CASE-100004,Claims Processing,East,High,Chat,Retail,2023-03-13,2023-03-16,7,72,Closed,0.0,AGT-217,1,5.0,3.0

In [23]:
df.head()

,Case_ID,Department,Region,Priority,Channel,Customer_Type,Created_Date,Closed_Date,SLA_Days,Resolution_Hours,Status,SLA_Breach,Agent_ID,Reopen_Flag,Customer_Rating,Resolution_Days
0,CASE-100000,Customer Support,North,High,Portal,Retail,2023-04-13,2023-04-14,3,24,Closed,0.0,AGT-183,0,4.0,1.0
1,CASE-100001,Customer Support,North,High,Portal,Retail,2024-03-11,2024-03-12,3,40,Closed,0.0,AGT-141,0,5.0,1.0
2,CASE-100002,Onboarding,South,Medium,Chat,Retail,2023-09-28,2023-09-30,5,55,Closed,0.0,AGT-163,0,4.0,2.0
3,CASE-100003,Onboarding,East,Medium,Email,Retail,2023-04-17,2023-04-20,7,72,Closed,0.0,AGT-229,0,4.0,3.0
4,CASE-100004,Claims Processing,East,High,Chat,Retail,2023-03-13,2023-03-16,7,72,Closed,0.0,AGT-217,1,5.0,3.0

In [31]:
open_cases = df[df['Closed_Date'].isna()]
open_cases.shape

(5319, 16)

# Open Cases By Department

In [36]:
open_cases['Department'].value_counts()

Department
Onboarding           1086
Claims Processing    1083
Customer Support     1080
Billing              1043
Policy Update        1027
Name: count, dtype: int64

Onboarding has the highest open backlog (1,086 cases)
Indicates new customer onboarding is under the most pressure.

Possible reasons: high demand, documentation delays, or process complexity.
Policy Update has the lowest open backlog (1,027 cases)

This department appears to be clearing pending work faster than others.
Backlog is evenly distributed across departments

Each department has ~1,000â€“1,090 open cases.
No single department is extremely overloaded, but all teams carry significant pending work.

# OPEN CASES BY PRIORITY (RISK ANALYSIS)

In [39]:
open_cases['Priority'].value_counts()

Priority
Medium      2106
Low         1905
High        1068
Critical     240
Name: count, dtype: int64

Majority of open cases are Medium & Low priority
Medium + Low = 4,011 cases
This shows a manageable routine workload.

High-priority open cases are significant (1,068 cases)
These require faster attention to avoid SLA risks and customer dissatisfaction.

Critical open cases = 240
Even though the count is smaller, these are highest risk cases.

These should be handled on an immediate escalation basis.
Rough Risk Split

High + Critical = 1,308 cases (~24.6% of open backlog)
This is a serious operational risk bucket.

# Which region has the highest pending workload?

In [42]:
open_cases['Region'].value_counts()

Region
West       1119
North      1090
South      1072
East       1068
Central     970
Name: count, dtype: int64

West region has the highest backlog (1,119 open cases)
Indicates maximum workload pressure in this region.

Needs resource rebalancing or faster closure drive.

Central region has the lowest backlog (970 open cases)
Shows better backlog control compared to other regions.

Backlog is fairly evenly spread across regions
All regions fall between 970â€“1119 open cases

# AGING ANALYSIS (How long cases are pending)

In [45]:
today = pd.Timestamp.today()

open_cases['pending_days'] = (today - open_cases['Created_Date']).dt.days

open_cases['pending_days'].describe()

C:\Users\VimalKumar\AppData\Local\Temp\ipykernel_6780\488988222.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  open_cases['pending_days'] = (today - open_cases['Created_Date']).dt.days

count    5319.000000
mean      699.416432
std       210.005175
min       340.000000
25%       516.000000
50%       695.000000
75%       885.500000
max      1069.000000
Name: pending_days, dtype: float64

The average aging of open cases is approximately 699 days, with the oldest case pending for over 1,069 days, 
indicating a severe long-term backlog and high operational risk. Even the most recent pending case has been open for nearly one year, 
highlighting the urgent need for backlog clearance and escalation mechanisms.

# CRITICAL + HIGH PRIORITY OLD CASES (ESCALATION LIST)

In [48]:
# Now we identify dangerous open cases that need immediate action.
critical_old_cases = open_cases[
    (open_cases['Priority'].isin(['High', 'Critical'])) &
    (open_cases['pending_days'] > 365)
]

critical_old_cases.shape

(1260, 17)

In [50]:
critical_old_cases[['Case_ID', 'Department', 'Region', 'Priority', 'pending_days']].head(10)

         Case_ID         Department   Region  Priority  pending_days
41   CASE-100041            Billing    South      High           503
48   CASE-100048  Claims Processing     East  Critical           903
72   CASE-100072         Onboarding     West      High           593
89   CASE-100089         Onboarding    North      High           732
94   CASE-100094            Billing     West      High           577
136  CASE-100136      Policy Update  Central      High           677
158  CASE-100158      Policy Update     West      High           492
179  CASE-100179  Claims Processing     West      High           442
188  CASE-100188            Billing     West      High           845
199  CASE-100199            Billing     West      High           573

These 1,260 cases are:
At highest customer risk
At highest compliance risk
At highest reputation risk